*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --whitesmoke: #f0f0f5;
    --blue: #2a2a72;
    --black: #000000;
    --limegreen: #34cb79;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--whitesmoke);
    min-height: 100vh;
    min-width: 100vw;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
}




